nav {
  text-align: center;
}

nav a {
  padding: 0.5em 1em;
}

body {
  margin: 0;
}

.main-header h1 {
  text-align:center;
}

.link {
  text-decoration: none;
  margin: 1.2em;
}

.link:hover {
  background-color: black;
  color: white;
  transition: .5s;
}

.product-card img { 
  width: 15%;
  aspect-ratio : 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
