* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid orange; */
}

nav {
  text-align: center;
  
}

nav a {
  padding: 0.5em 1em;
  
}

body {
  margin: 0;
  padding: 4rem;
  background-color: #F6F2E9
}

button {
  border: none;
  border-radius: 1rem;
  height: 2rem;
  width: 6rem;
  background-color: lightblue;

}

.temporary {
  text-align: center;
}

.shopping-list {
  padding: 6rem;
}

.main-header h1 {
  text-align:center;
}

.link {
  text-decoration: none;
  margin: 1.2em;
}

.link:hover {
  background-color: black;
  color: white;
  transition: .5s;
}


/* Container for Product Cards */
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  margin-left: -4px;
}

/* Product Card Styles */
.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: calc(5% - 0.5px);
  padding-top: 16%;
  position: relative;
  background-color: #fff;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: #F1E7DD;
  

  &:hover {
    transform: scale(1.05);
    
  }

  .product-card img {
    width: 50%;
    object-fit: contain;
 
  }

  .card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 69%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

 
 /* ----------------------BUTTON ----------------------  */

  button.add-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 0.5em 1em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    font-size: 1.5em;

    &:hover {
      background-color: #0056b3;
    }
  }
}

 /* ----------------------SEARCH ----------------------  */

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  width: 500px;
}

.search-input {
  flex-grow: 1;
  border: none;
  padding: 5px 10px; 
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: right 10px center; 
}



h3 {
  display: block;
  font-size: 0.9em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;

}
